/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
                          Stule moible
   ========================================================================== */

                 /*----------------Style for header-------------------*/


.navbar
{
 background-color:#F2C335;
}  

  #menu1

{
  
   opacity: 0.9;
   /*height: 80px;*/
   /*position:fixed;*/
   /*z-index: 100;*/
}

#menu1 li a
{
   font-family: 'Noto Serif', serif;;
   font-size: 20px;

}

#menu1 li a
{
    color: black;
}
#menu1 li:hover a
{
    color:#735C19;
    font-weight: bold;
}

/*#menu .navbar-collapse
{
  width: 100%;
  height: 100vh;
   margin-top: 80px;
}
*/
.btn-white 
{
     background-color:white;
}
          /*-------------------style intro section----------------*/

#intro
{
   background-image:url("../img/about-background.jpg");
   background-size: cover;
   background-position: center right;
   opacity: 0.85;
   

   height: 100%;

}
.intro-cover
{
    height: 600px;
   /* width: 100%;
    height: 100%;*/
    background-color: rgba(245,240,240,0.5);
       /*padding-top: 80px;*/
}
.titre1, .titre2
{
    color:rgb(244,243,242); 
     font-size: 40px;
     

     /*font-family: 'Russo One', sans-serif;*/

}
.titre1
{
   font-family: 'Noto Serif', cursive;
    color:#D9E33B;
    font-size: 2em;
  /*color: rgb(243,200,65);*/
}
.titre2
{
  font-family: 'Noto Serif', sans-serif;
  color: black;
}
.apropos
{
    
    font-size:20px;
    font-family:'Exo', sans-serif;
    color:black;
    line-height: 3em;
    text-align: justify;
   
}
.apropos p
{
    padding-right: 5px;
    padding-left: 5px;
}

                /*------- ---Style aboutme section----------*/

#aboutme
{
    background-color:rgb(143,138,141);
    /*height: 600px;*/
}
#aboutme .aboutleft
{
  margin: auto;
}

.titre3
{
    font-size: 1.2em;
    background-color:rgb(244,243,242);
     width: 200px;
    font-family: 'Alegreya', serif;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
     text-align: center;
    display: block;
    margin:50px auto 50px auto;
    margin: auto;
    
}

#aboutme #allcursus
{
        
     margin: auto;
     width: 95%;
 }
#aboutme #allcursus  .cursus

{
    background-color: white;
    margin: 30px auto;
    padding: 15px;
    opacity: 0.8;
    max-width: 85%;
    font-size: 19px;
    border: 1px solid transparent;
    border-radius:8px;
    font-family: 'Alegreya', serif;

}
#aboutme .cursus .titrecursus
{
    color:black;
    font-style: italic;
    font-weight: bold;
}

        /*---------------Style Competence section-----------------*/

#portfolio, #competence
{
    background-color: black;
    width: 100%;
    color: white;
    font-family: 'Alegreya', serif;
}
#portfolio h2, #competence h2
{
  color: rgb(243,200,72);
}

.projets
{
    margin: auto;
    padding-bottom: 20px;
}
.projets .reproduction, .projets .creation
{
    margin: auto;
    width: 100%;
}
.proj
{  
    
    margin-bottom: 0px;
} 
.proj a 
{
    text-decoration: none;
}  
.proj a img
{
  border: 3px solid black;
  opacity:.66;
  /*margin-left: 10px;
  margin-right: 10px;*/
    
}
.projet-description
{
  transition: all 0.8s  ease-in;
  opacity: 0;
  position: absolute;
  bottom: -50px;
  background-color: rgba(11,11,11,.9); 
  overflow: hidden;
  
}

.projet-description .projet-description-contenu
{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 20px 40px;
  text-align: center;
  top: 5%;
   transition: all 0.8s  ease-in;
  transform: translateY(0);
   color:rgb(242,195,53);
   font-size: 18px;
   font-family: 'Alegreya', serif;
    letter-spacing: .2em;


}
.projet-description-contenu h4
{
  
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
 color:#DD95A7;

 }

.colicone
{
  color: rgb(243,200,72);
}

.comptitre
{
     font-size: 2em;
}
.titre-1
{
  font-weight: 400;
 

} 
.sous-titre
{
  width: 20%;
  margin: auto;
  margin-bottom: 10px;
}

 .proj:hover  .projet-description

{
     
      top: 0px;
      left:0;
      width: 100%;
      height: 100%;
      opacity: 1;
   
}
.proj:hover img
{
   -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity:1;
}



                         /*---------------Style Contact section-----------------*/





.contact
{
  background-color: rgb(204,204,204);
  font-family: 'Alegreya', serif;
}
.titrecontact
{
  height: 150px;
  background-color: rgb(242,195,53);
  color: black;
  padding-bottom: 100px;
}
 .element
{
  font-size: 20px;
  font-family: 'Alegreya', serif;
  color: black;

}
 

.icone
{
      
      border-radius: 50%;
      border: 1px solid transparent;
      height: 50px;
      width: 50px;
       background-color:black ;
      margin-bottom:  20px  ;

}
.icone a i
{
        color: rgb(242,195,53);
        margin-top: 10px;
       font-size: 22px; 
    
}

                        /*---------------Style Formulaire section-----------------*/

::-moz-placeholder 
{ 
  
  font-size: 15px;
   font-style: italic;
 
 }
 .formulaire .form-group
 {
    border-bottom:  1px solid rgb(119,119,119);
 }
.formulair .form-group input
{
   transition: all 0.9s ease-in-out;
}   
.formulaire .btn
{
  background-color: black;
  color: white;
  width: 150px;
  transition: all 1s ease-in;

}
.form-control
{
  background-color: rgb(204,204,204);
  border:none;

}
.formulaire .form-group input:focus
 {
    transform: translate(-10px, -10px);
    background-color: rgb(204,204,204);

 }
.formulaire .form-group textarea:focus
 {
    transform: translate(-10px, -10px);
    background-color: rgb(204,204,204);

 }


.formulaire .form-group input:focus .form-group
{

  border-bottom: 1px solid  black;
}
.formulaire .btn:hover
{
  background-color: rgb(85,0,0);
  color: white;
}


.footer-portfolio
{
  background-color: black;
  height: 200px;
  color: white;
}   






 /* ==========================================================================
                        STYLE FOR TABLETTE
   ========================================================================== */




                          

@media  (min-width: 720px)
{

.proj a img
{
  border: 3px solid black;
  
}

#aboutme #allcursus  .cursus
{

  min-width: 45%;
}


}

.reseau
{
  margin: 30px;

}



 /* ==========================================================================
                        STYLE FOR DESKTOP
 ========================================================================== */

@media  (min-width: 1000px)
{

  .projet-description .projet-description-contenu
{
   top:0%; 
   padding: 0px 10px;
 }

 .reseau
{
  margin: 10px;

}
    
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
